<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413703789482-a47kn6i9kal2chjp6b068av27l1iiu6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413703789482-a47kn6i9kal2chjp6b068av27l1iiu6t</string>
	<key>API_KEY</key>
	<string>AIzaSyBeWiQ0MDKwrSsvrOZzZneg4biU1aMGD2M</string>
	<key>GCM_SENDER_ID</key>
	<string>413703789482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-f69bf</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-f69bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413703789482:ios:e4af8e55946e6f968c69d3</string>
</dict>
</plist>